* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace;
}

.app__container {
  max-width: 1080px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1.5rem 1rem;
  animation: fade-in 2s;
  animation-delay: 1s;
  text-align: center;
}

.title__span {
  background-color: #25b09b;
  color: white;
  padding: 0.2rem 1rem;
  border-radius: 4px;
}

.interval__dropdown,
.symbol__dropdown {
  width: 200px;
  padding: 0.5rem 0.5rem;
  border-radius: 2px;
  outline: none;
  border: 1px solid gainsboro;
}

.utils__container {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  animation: fade-in 10s;
}

.utils__container small {
  letter-spacing: 2px;
  color: rgb(93, 93, 93);
  font-weight: bold;
}
.utils__container .btn {
  padding: 0.5rem 1rem;
  letter-spacing: 2px;
  border-radius: 2px;
  border: none;
  color: gray;
  cursor: pointer;
  transition: 0.2s;
}

.utils__container .btn:hover,
.hide__btn:hover  {
  background-color: rgb(199, 199, 199);
  color: black;
}

.chart__container {
  animation-delay: 5s;
  animation: fade-in 2s;
}

.hide__btn {
  height: 35px;
  padding: 0 1rem;
  border-radius: 4px;
  border: none;
  outline: none;
  transition: 0.2s;
  cursor: pointer;
}

/* HTML: <div class="loader"></div> */

.loader {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #25b09b;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}

/* under 500px */
@media (max-width: 500px) {

  .title__span {
    background: none;
    color: black;
    padding: 0px;
  }

  .interval__dropdown,
  .symbol__dropdown {
    align-self: center;
    animation: fade-in 2s;
  }
}

@media (max-width: 591px) {
  .title__span {
    background: none;
    color: black;
    padding: 0px;
  }

  .interval__dropdown,
  .symbol__dropdown {
    align-self: center;
    animation: fade-in 2s;
  }

  .title {
    font-size: 20px;
  }
}


.dropdown__container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

@media (max-width: 560px) {
    .dropdown__container {
        flex-direction: column;
        align-items: center;
    }

    .dropdown__btn {
        width: 200px;
    }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
